#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "pageant+"
#define VER_INTERNALNAME_STR        "pageant+.exe"
#define VER_ORIGINALFILENAME_STR    "pageant+.exe"

#include "common.ver"

